@tailwind base;
@tailwind components;
@tailwind utilities;
.black-colour{
    color: #020202ff; 
}
.dark-green{
    color: #0d2818ff; 
}
.pakistan-green{
    color: #04471cff;
} 
.sea-green{
    color:  #058c42ff;
} 

.light-green{
    color: #16db65ff; 
 }
 
.black-colourbg{
    background-color: #020202ff; 
}
.dark-greenbg{
   background-color: #0d2818ff; 
}
.pakistan-greenbg{
    background-color: #04471cff;
} 
.sea-greenbg{
 background-color:#058c42ff;
} 

.light-greenbg{
    background-color: #16db65ff; 
 }
 .font-title {
    font-family: 'Playfair Display', serif;
}

/* For body text */
.font-text {
    font-family: 'Lato', sans-serif;
}
.bannerbg
{
    background-image: url('/public/bannerbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    
    position: relative;
}
.bannerbg {
    background-image: url('/public/bannerbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.bannerbg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
    z-index: 0; /* Places the overlay behind the content */
}
